.card {
  background-color: #00503e;
  border-radius: 10px;
  margin-top: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.card:hover {
  transform: translateY(-10px); /* Slight lift effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Shadow effect */
  background-color: #007358; /* Slightly lighter shade on hover */
}

.card-title,
.card {
  color: white;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.navbar-brand {
  color: white;
}
.navbar-toggler {
  background: white;
}
nav {
  background-color: #00503e;
}
.default-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
